<a href="https://colab.research.google.com/github/DslDaviza1/MultimidiaIFB/blob/main/G2_DJMN_Sprint1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Os imports não são finais
import pandas as pd
import numpy as np
import requests

#Para gerar o arquivo .csv sem tratamento a partir da página .html
dataHTML = pd.read_html('http://www.nuforc.org/webreports/ndxevent.html')
dataHTML[0].to_csv('file.csv')
dataCSV = pd.read_csv('file.csv')

#Para fazer o tratamento do DataFrame do pandas:
keep_col = ['Reports','Count']#para o tratamento do .csv
newData = dataCSV[keep_col]

#Para encontrar o intervalo de linhas requisitado, fizemos:
#print(newData.loc[data['Reports'] == '08/2017'])# Na linha 45
#print(newData.loc[data['Reports'] == '09/1997'])# Na linha 284

#E agora para deixar apenas os dados desejados no arquivo
newData = newData.iloc[45:285]

#Gerar o novo arquivo com o alvo de dados
newData.to_csv("OVNIs_Index.csv", index = False)
#Seguinte a geração desse arquivo, é feita a renomeação de newFile.csv para OVNIs.csv

indexOVNIs = pd.read_csv('OVNIs_Index.csv')
#A partir daqui fazemos o tratamento para inserir o conteúdo das tabelas HTML dentro de cada link
#Método para acessar um link com uma data específica
def tableHMTL(date):
    url = 'http://www.nuforc.org/webreports/ndxe' + date + '.html'
    page = requests.get(url)
    soup = pd.read_html(page.text)
    soup = pd.DataFrame(np.concatenate(soup), columns=columns)
    return soup

#Passar dataOVNIs['Reports'] como index para chamar links do dataHTML
tablesOVNIS = []
columns = ['Date/Time','City','State','Shape','Duration','Summary','Posted']
tablesOVNIS = pd.DataFrame(tablesOVNIS, columns=columns)
for i in indexOVNIs['Reports']:
    data_relato = str(i)
    data_split = data_relato.split("/")
    data_split.reverse()
    date = ''.join(data_split)
    tablesOVNIS = pd.concat([tableHMTL(date),tablesOVNIS])

tablesOVNIS.to_csv('OVNIS.csv')
print(tablesOVNIS)


#SQL Query
conn = sqlite3.connect('marcosrian.db')
c = conn.cursor()

c.execute('CREATE TABLE IF NOT EXISTS relatOVNIS (num, DateTime, City, State, Shape, Duration, Summary, Posted)')
conn.commit()

#df = DataFrame(relatOVNIS, columns = ['DateTime','City','State','Shape','Duration','Summary','Posted']) não é necessário, apague ao ler
sqlOVNIS = tabelasOVNIS.to_sql('OVNIS', conn, if_exists='replace', index = False)

         Date/Time  ...    Posted
0    9/30/97 22:00  ...    3/2/04
1    9/30/97 20:00  ...  10/30/06
2    9/28/97 23:15  ...    7/5/99
3    9/27/97 23:00  ...   2/22/05
4    9/27/97 05:00  ...    8/5/01
..             ...  ...       ...
413   8/1/17 02:45  ...    8/4/17
414   8/1/17 02:00  ...    8/4/17
415   8/1/17 01:00  ...    5/9/19
416   8/1/17 00:00  ...   2/13/20
417         8/1/17  ...   6/25/20

[100157 rows x 7 columns]

NameError: ignored

In [ ]:
#Os imports não são finais
import pandas as pd
import numpy as np
import requests

#Para gerar o arquivo .csv sem tratamento a partir da página .html
dataHTML = pd.read_html('http://www.nuforc.org/webreports/ndxevent.html')
dataHTML[0].to_csv('file.csv')
dataCSV = pd.read_csv('file.csv')

#Para fazer o tratamento do DataFrame do pandas:
keep_col = ['Reports','Count']#para o tratamento do .csv
newData = dataCSV[keep_col]

#Para encontrar o intervalo de linhas requisitado, fizemos:
#print(newData.loc[data['Reports'] == '08/2017'])# Na linha 45
#print(newData.loc[data['Reports'] == '09/1997'])# Na linha 284

#E agora para deixar apenas os dados desejados no arquivo
newData = newData.iloc[45:285]

#Gerar o novo arquivo com o alvo de dados
newData.to_csv("OVNIs_Index.csv", index = False)
#Seguinte a geração desse arquivo, é feita a renomeação de newFile.csv para OVNIs.csv

indexOVNIs = pd.read_csv('OVNIs_Index.csv')
#A partir daqui fazemos o tratamento para inserir o conteúdo das tabelas HTML dentro de cada link
#Método para acessar um link com uma data específica
def tableHMTL(date):
    url = 'http://www.nuforc.org/webreports/ndxe' + date + '.html'
    page = requests.get(url)
    soup = pd.read_html(page.text)
    soup = pd.DataFrame(np.concatenate(soup), columns=columns)
    return soup

#Passar dataOVNIs['Reports'] como index para chamar links do dataHTML
tablesOVNIS = []
columns = ['Date/Time','City','State','Shape','Duration','Summary','Posted']
tablesOVNIS = pd.DataFrame(tablesOVNIS, columns=columns)
for i in indexOVNIs['Reports']:
    data_relato = str(i)
    data_split = data_relato.split("/")
    data_split.reverse()
    date = ''.join(data_split)
    tablesOVNIS = pd.concat([tableHMTL(date),tablesOVNIS])

tablesOVNIS.to_csv('OVNIS.csv')
print(tablesOVNIS)


#SQL Query
conn = sqlite3.connect('marcosrian.db')
c = conn.cursor()

c.execute('CREATE TABLE IF NOT EXISTS relatOVNIS (num, DateTime, City, State, Shape, Duration, Summary, Posted)')
conn.commit()

#df = DataFrame(relatOVNIS, columns = ['DateTime','City','State','Shape','Duration','Summary','Posted']) não é necessário, apague ao ler
sqlOVNIS = tablesOVNIS.to_sql('OVNIS', conn, if_exists='replace', index = False)
print('------------------------------------------------')
print(type(sqlOVNIS))
print(sqlOVNIS)


c.execute('''  
SELECT * FROM sqlOVNIS
          ''')

for row in c.fetchall():
    print (row)

         Date/Time  ...    Posted
0    9/30/97 22:00  ...    3/2/04
1    9/30/97 20:00  ...  10/30/06
2    9/28/97 23:15  ...    7/5/99
3    9/27/97 23:00  ...   2/22/05
4    9/27/97 05:00  ...    8/5/01
..             ...  ...       ...
413   8/1/17 02:45  ...    8/4/17
414   8/1/17 02:00  ...    8/4/17
415   8/1/17 01:00  ...    5/9/19
416   8/1/17 00:00  ...   2/13/20
417         8/1/17  ...   6/25/20

[100157 rows x 7 columns]

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 10))

------------------------------------------------
<class 'NoneType'>
None

OperationalError: ignored

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 10))

OperationalError: ignored